@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.navbar-brand img{
    width: 72px; 
    height: auto; 
    border-radius: 50%;
  }
  
  .navbar-nav li a:hover {
    color: #71c9CE!important;

    position: relative;
  }
  .navbar-nav li a:hover::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:#71c9CE;
    bottom: -3px;
    left: 0;
  
    
  }

body {
    font-family: 'Poppins', sans-serif;
    
  }

  .header-title{
    text-align: center;
    padding-top: 70px;   
}
                                    /* Home */
section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  background-color: #A6E3E9;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.home-content h3{
  font-size: 3.2rem;
  font-weight:700;
}
.home-content h1{
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.3;
  color: white;
  font-family: 'Bruno Ace', cursive;

}

.circle img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #00ADB5;
  margin: 54px auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 102px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


/* For mobile devices */
@media only screen and (max-width: 480px) {
  .circle {
    text-align: center;
  }
  
  .circle img {
    height: auto;
    width: 80%;
    margin: 20px auto;
    display: block;
    
  }
}

/* For tablet devices */
@media only screen and (max-width: 768px) {
  .circle {
    text-align: center;
  }
  
  .circle img {
    height: auto;
    width: 60%;
    margin: 20px auto;
    display: block;
    margin-bottom: -19px;
  }
}


.home-content p{
  font-size: 1rem;
}


.home span{
  color:orangered;
}
.social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  /* border: .2rem solid var(--main-color); */
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  margin: 3rem 1.5rem 0;
  background-color: black;
  text-decoration: none;

  
  
}


.btn button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color:#30E3CA;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  border-radius: 20px;
}

button:hover {
  background-color:#00ADB5;
}

button:active {
  transform: scale(0.9);
  box-shadow: none;
}


.social-media a:hover{
 background-color:#00ADB5;
  box-shadow:0 0 1;
 
}
.home-content h3:nth-of-type(2){
  margin-bottom: 2rem;
}


                          /* About */

 .about-img img{
  height: 410px;
  width: 312px;
  margin-top: 15px;
         border-radius: 45%;
        
}   

.about span{
color: rgb(175, 14, 14);
}
.about-content{
  
font-family: 'Kanit', sans-serif;
}
.about{
  overflow-x: hidden;
}
.about-content h2{
  font-weight: 700;
  text-align:left;
  font-size: 4.5rem;
}
.about-content{
  text-align: center;
  text-align: left;
  line-height:1.2rem;
}
.about-content h3{
  font-weight: 700;
  color: rgb(33, 32, 32);
  font-size: 2.6rem;
}
.about-content p{
  justify-content: left;
  font-family: 'Bruno Ace', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
line-height: 1.5;
text-align: justify;
text-indent: 40px;

margin: 2rem 0 3rem;
}

.about-content h2{
  display: inline-block;
  transform: translateX(-100%);
  animation: slideInText 2s forwards;
}

@keyframes slideInText {
  to {
    transform: translateX(0);
  }
}

.about span{
  color:orangered;
}
.about{
  background-color: #fff;
}

.about-content h3{
  display: inline-block;
  transform: translateX(-100%);
  animation: slideInText 2s forwards;
}

@keyframes slideInText {
  to {
    transform: translateX(0);
  }
}
.card-1{
  display: flex;
  justify-content: center;

}

.card-2{
  display: flex;
  justify-content: center;
}
.card-3{
  display: flex;
  justify-content: center;
  
}
.card{
  color:white;
  border-radius: 60px;
  background-color:#00ADB5;
  /* background-color: ; */
}
.card-title{
  font-weight: 700;
}
.card-title{
  text-align: center;
  
}
.cardBtn{
  display: flex;
  justify-content: center;
  
}



              /* card */
.row-education {

  display: flex;
}

.education h1{
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  color:black;
  font-weight: 700;
  font-size: rem;
  margin-top: -64px;

}
              @keyframes fadeInUp {
                from {
                  opacity: 0;
                  transform: translate3d(0, 100%, 0);
                }
              
                to {
                  opacity: 1;
                  transform: none;
                }
              }
              
              .education .card {
                animation-name: fadeInUp;
                animation-duration: 1s;
                animation-fill-mode: both;
                animation-delay: 0.5s;
              }
              @keyframes colorChange {
                0% { background-color: #fff; }
                50% { background-color: #f5f5f5; }
                100% { background-color: #eee; }
              }
              
              .education .card:active {
                animation-name: colorChange;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
              }
              
              
              
              .details:hover {
                background-color: #007bff; /* Change this to the desired color */
                color: #fff; /* Change this to the desired color for the text color */
              }
              .details:hover {
                background-color: #007bff; /* Change this to the desired color */
                color: #fff; /* Change this to the desired color for the text color */
                box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Change the values to adjust the shadow effect */
              }

              


              /* skills */

.skills h1{
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  color: white;
}

.card{
/* background-image: url(image/me.jpeg); */
background-position: center;
background-size: cover;
/* height: 500px;
width: 400px; */
/* border-radius: 8px; */
transform: rotate(20deg)skew(-10deg,5deg);
cursor: pointer;
transition: 0.3s;

}
.card:hover{
  translate: 0 -30px;
  box-shadow: 5px 5px #ff1385,
              10px 10px#ff13858f,
              15px 15px #ff138563;

}
              

              

.my-skills{
  /* background: white; */
  background-color: white;
      padding-top: 0px;
}

              



.skill-card {
  perspective: 1000px;
  margin-bottom: 20px;
  background: rgb(238, 233, 233);
}
.skill-card-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.skill-card:hover .skill-card-inner {
  transform: rotateY(180deg);
}
.skill-card-front, .skill-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.skill-card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  color: #495057;
}
.skill-card-html .skill-card-front {
  background-color: #F16529;
  color: #fff;
}
.skill-card-css .skill-card-front {
  background-color: #2965f1;
  color: #fff;
}
.skill-card-javascript .skill-card-front {
  background-color: #F7DF1E;
  color: #000;
}
.skill-card-bootstrap .skill-card-front {
  background-color: #563d7c;
  color: #fff;
}
.skill-card-angular .skill-card-front {
  background-color: #b52e31;
  color: #fff;
}
.skill-card-icon {
  font-size: 50px;
  margin-bottom: 10px;
}
.skill-card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.skill-card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  color: #495057;
  padding: 20px;
}
.skill-card-rating {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.skill-card-stars {
  margin-bottom: 10px;
}
.skill-card-stars i {
  font-size: 24px;
  color: #ffc107;
  margin-right: 5px;
}
.skill-card-rating-number {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}
.skill-card-description {
  font-size: 16px;
  margin: 0;
}

.my-skills h1{
  font-weight: 700;
  color: rgb(28, 24, 24);
  font-size: 2.6rem;
  text-align: center;
}
.my-skills{
  margin-top: 77px;
  
  margin-bottom: 70px;
}

.skill-card-css .skill-card-icon {
  color: #2965f1;
}
.skill-card-html .skill-card-icon {
  color: #E44D26;
}
.skill-card-javascript .skill-card-icon {
  color: #F0DB4F;
}
.skill-card-bootstrap .skill-card-icon {
  color: #7952b3;
}
.skill-card-angular .skill-card-icon {
  color: #DD0031;
}
.skill-card-sql .skill-card-icon {
  color: #00758F;
}


.skill-card-front {
  /* background: url("") center center/cover; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  background-color: #cadefc;
} 

/* .skill-card-front:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);

}  */
.my-skills span{
color: orangered;
}
                      /* Keyframe animations for timeline items */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Apply animations to timeline items */
.timeline-item:nth-child(odd) .timeline-date {
  animation: slideInLeft 1s ease forwards;
}
.timeline-item:nth-child(odd) .timeline-content {
  animation: slideInRight 1s ease forwards;
}
.timeline-item:nth-child(even) .timeline-date {
  animation: slideInRight 1s ease forwards;
}
.timeline-item:nth-child(even) .timeline-content {
  animation: slideInLeft 1s ease forwards;
}


.certificate h1{
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
}
.certificate span{
  color: orangered;
}
.timeline-item {
  position: relative;
  padding: 40px 0;
  margin: 0 auto;
  width: 50%;
  max-width: 800px;
}
.certificate-heading{
  
  margin-top: -75px;

  margin-bottom: 64px;

}

.timeline-date {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  font-weight: bold;
  background-color:orangered;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.timeline-content {
  position: relative;
  background-color: #cadefc;
  padding: 20px;
  border-radius: 20px;
  margin-left: 50px;
  z-index: 1;
}

.timeline-item:nth-child(2n) .timeline-date {
  left: auto;
  right: 0;
  transform: translate(50%, -50%);
}

.timeline-item:nth-child(2n) .timeline-content {
  margin-left: 0;
  margin-right: 50px;
}

/* Animation */
.timeline-item {
  opacity: 0;
  transform: translateY(100px);
}

.timeline-item:nth-child(odd) {
  animation: timeline-odd 1s ease forwards;
}

.timeline-item:nth-child(even) {
  animation: timeline-even 1s ease forwards;
}

@keyframes timeline-odd {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes timeline-even {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.timeline-item {
  background-color: #defcf9;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.timeline-item:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  transform: translateY(-5px);
}

.timeline-item:hover::before {
  opacity: 0.2;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

 .experience h2{
  font-size: 2.6rem;
  font-weight: 700;

 }
 .experience h1{
  font-weight: 700;
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  margin-top: 83px;
  margin-top: 20px;
 }
 #experience{
  padding-top: 0px;
 }
  .experience{
    overflow-x: hidden;
    margin-top: 34px;
  }



 .experience-content h2{
  margin-top: -59px;
 }
 .full-stack h4{
  font-weight: 600;
  font-size: 2.0rem;
 }
 .full-stack h5{
  font-weight: 600;
  font-size: 1.6rem;
 }


.full-stack span{
  color: orangered;
}
.work{
  height: 314px;
  width: 400px;
  margin-left: 79px;
    margin-top: -16px;
}
.work img{
height: 100%;
width: 80%;
margin-left: 80px;
}

/* contact */
.contact-us{
  padding-top: 0px;
}

#contact {
  text-align: center;
  padding: 50px 0;
  padding-top: 0px;
}

/* Style the form */
form {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 20px;
}

/* Style the form fields */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  background-color: #fff;
}

textarea {
  resize: none;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0069d9;
  cursor: pointer;
}

.contact-me h1{
  font-weight: 700;
  font-size: 2.6rem;
}
.contact-me span{
  color: orangered;
}
.contact{
  background-color:khaki;
  margin-top: 75px;

}

.information {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* .contact-me{
  display: flex;
  align-items: center;
} */

/* .photo h1{
  display: flex;
  align-items: center;
} */
.photo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-size: cover;

}
.photo h1{
  font-size: 4.5rem;

}


.social-icons{
  background-color: #71c9CE;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 30%;
  font-size: 2rem;
  color: white;
  margin: 3rem 1.5rem 0;
  background-color: black;
  text-decoration: none;
  
}
.footer{
  background-color: #A6E3E9;
  /* background-color:; */
}
.footer-nav{
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-weight: 700;
}




/* media */


/* @media (min-width: 575.98px) and (max-width: 767.98px) { 

 }
 @media (min-width: 767.98px) and (max-width: 991.98px) { 

 }
 @media (min-width: 991.98px) and (max-width: 1199.98px) { 

 }
 @media (min-width: 1199.98px) and (max-width: 1399.98px) { 

 }
 @media (max-width: 767.98px) { 

 } */





 /* @media (max-width: 992px) {
  .navbar-collapse {
    background-color: #fff;
  }
  
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none !important;
    width: 100%;
  }
  
  .navbar-nav > li {
    display: block;
    float: none;
    width: 100%;
  }
  
  .navbar-nav > li > .nav-link {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-toggler {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f8f9fa;
    color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
  }
} */

/* home */



  /* Mobile Layout */
  @media screen and (max-width: 767px) {
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 100px 0;
    }
    
    .home-content {
      order: 2;
      width: 100%;
      margin-bottom: 30px;
    }
    
    .home-content h1 {
      font-size: 30px;
    }
    
    .home-content p {
      font-size: 14px;
      line-height: 1.5;
    }
    
    .circle {
      order: 1;
      width: 100%;
      height: 200px;
      margin-bottom: 30px;
    }
    
    .circle img {
      width: 46%;
      height: 100%;
      object-fit: cover;
      margin-bottom: -8px;
    }
  }
  
  /* Tablet Layout */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .home {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 100px 0;
    }
    
    .home-content {
      width: 100%;
      margin-bottom: 0;
    }
    
    .home-content h1 {
      font-size: 40px;
    }
    
    .home-content p {
      font-size: 16px;
      line-height: 1.5;
    }
    
    .circle {
      width: 40%;
      height: 300px;
      margin-left: 50px;
      margin-bottom: 0;
    }
    
    .circle img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  @media (max-width: 991px) {
    .home-content {
      text-align: center;
      margin-bottom: 30px;
    }
    .circle {
      display: flex;
      justify-content: center;
    }
       
    .circle img {
      width: 46%;
      height: 100%;
      object-fit: cover;
      margin-bottom: -8px;
    }
  }
  
  @media (max-width: 767px) {
    .home-content {
      font-size: 20px;
    }
    .circle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 30px;
    }
    .circle img {
      position: absolute;
      bottom: 0;
    }
  }
  
    /* Media queries */
    @media (max-width: 767px) {
      .about-img {
        margin-bottom: 20px;
        height: 410px;
    width: 322px;
      }
    }

    @media (max-width: 991px) {
      .card-1,
      .card-2,
      .card-3 {
        margin-bottom: 1.5rem;
      }
         
    .circle img {
      width: 46%;
      height: 100%;
      object-fit: cover;
      margin-bottom: -8px;
    }
  
    }
/* Mobile and tablet devices */
@media (max-width: 767px) {
  /* Modify the width of the skill cards */
  .skill-card {
    width: 100%;
  }
  
  /* Center the skill card title and icon */
  .skill-card-title, .skill-card-icon {
    text-align: center;
  }
  
  /* Reduce the font size of the skill card title */
  .skill-card-title {
    font-size: 1.5rem;
  }
  
  /* Reduce the font size of the skill card description */
  .skill-card-description {
    font-size: 0.8rem;
  }
  
  /* Adjust the spacing between the skill cards */
  .col-md-4 {
    margin-bottom: 2rem;
  }
}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 991px) {
  /* Modify the width of the skill cards */
  .skill-card {
    width: 50%;
  }
}

/* Large desktop devices */
@media (min-width: 992px) {
  /* Reset the modifications made in the previous media queries */
  .skill-card {
    width: 100%;
  }
  
  .skill-card-title, .skill-card-icon {
    text-align: left;
  }
  
  .skill-card-title {
    font-size: 2rem;
  }
  
  .skill-card-description {
    font-size: 1rem;
  }
  
  .col-md-4 {
    margin-bottom: 0;
  }
}

/* certificates */



@media only screen and (max-width: 767px) {
  .certificate-heading h1 span {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .timeline-item {
    width: 100%;
  }

  .timeline-date {
    font-size: 1.4rem;
  }

  .timeline-content h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .timeline-content p {
    font-size: 1.4rem;
  }
}


/* experience */

/* For screens smaller than 768px (e.g. tablets) */
@media screen and (max-width: 767px) {
  .full-stack .experience-item {
    margin-bottom: 30px;
  }
  .full-stack .col-md-6 {
    width: 100%;
  }
  
}


/* For screens smaller than 576px (e.g. smartphones) */
@media screen and (max-width: 575px) {
  .full-stack .col-md-6 {
    width: 100%;
    margin-bottom: 30px;
  }
  
}


/* Media query for screens smaller than 768px (e.g. tablets) */
@media (max-width: 767px) {
  .col-md-6 {
    width: 100%;
  }
}

/* Media query for screens smaller than 576px (e.g. smartphones) */
@media (max-width: 575px) {
  .col-md-6 {
    width: 100%;
  }
}
/* Styles for screens smaller than 768px (mobile) */
@media only screen and (max-width: 767px) {
  .col-md-6 {
    width: 100%;
  }
}

/* Styles for screens between 768px and 991px (tablet) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }
}

/* Styles for screens larger than 991px (desktop) */
@media only screen and (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
}


/* contact */

/* For screens smaller than 576px (e.g. smartphones) */
@media (max-width: 575px) {
  .contact .photo, .contact .information {
    width: 100%;
  }
}

/* For screens between 576px and 768px (e.g. tablets) */
@media (min-width: 576px) and (max-width: 767px) {
  .contact .photo, .contact .information {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .contact .photo {
    text-align: center;
  }
}

/* For screens larger than 768px (e.g. desktops) */
@media (min-width: 768px) {
  .contact .photo {
    text-align: center;
  }
}


/* footer */

/* For screens smaller than 768px (e.g. tablets) */
@media (max-width: 767px) {
  .footer .col-md-6 {
    margin-bottom: 20px;
  }
}

/* For screens smaller than 576px (e.g. smartphones) */
@media (max-width: 575px) {
  .footer .col-md-6 {
    margin-bottom: 0;
  }
  .footer .social-media {
    margin-bottom: 20px;
  }
  .footer-nav .col-4 {
    width: 33.33%;
  }
}



@media(max-width:390.68px) {
  .work img{
  position: relative;
  right: 170px;
  }
}

@media(max-width:390.68px) {
  .about-img{
  position: relative;
  left: 0px;
  }
  
}

/* education */

@media screen and (max-width: 768px) {
  .row-education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .second-card {
    margin-top: 20px;
  }
}

@media screen and (max-width: 414px) {
  .work img{
    position: relative;
    right: 176px;
  }
}



/* new responsive */

@media (min-width: 1281px) {
  
}

  


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}





