form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  form {
    .flex {
      flex-direction: column;
      gap: 2;
  
  }
  
  
  .btn {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #ccc;
    cursor: pointer;
  }
}
  